*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* #phone{
  background-image:url("./assets/img/DesktopMode.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width:600px) {
  #phone{
    background-image: url('./assets/img/phone.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
} */